{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
      <h1 class="display-1 text-center">Django app</h1>
      <p>Documentation and examples for Bootstrap’s 
        powerful, responsive navigation header, the navbar. 
        Includes support for branding, navigation, and more, 
        including support for our collapse plugin</p>
      <div class="text-center">
        <a class="btn btn-secondary" href="/signup/">
          Signup
        </a>
        <a class="btn btn-dark" href="/signin/">
          Signin
        </a>
      </div>
  </section>
</main>

{% endblock %}